.red{
    color: rgb(255, 43, 43);
}
/* for class # for id . */
#firstdiv{
    /* background-color: rgb(197, 164, 229); */
}

.bob{
    background-color: rgb(144, 233, 203);
}
.lol{
    background-color: rgb(193, 139, 243);
}